@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient {
    background: radial-gradient(
      50% 50% at 50% 50%,
      hsl(var(--primary) / 0.5),
      hsl(var(--background) / 1)
    );
    filter: blur(100px);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 8% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 8% 0%;

    --card: 0 0% 100%;
    --card-foreground: 240 8% 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 210 40% 96%;
    --primary-foreground: 40 90% 50%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 96%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 210 40% 96%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 90% 50%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 8% 0%;
    --foreground: 0 0% 100%;

    --muted: 240 4% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 240 8% 0%;
    --popover-foreground: 40 90% 50%;

    --card: 240 8% 0%;
    --card-foreground: 40 90% 50%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;

    --primary: 40 90% 50%;
    --primary-foreground: 210 40% 96%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 40 90% 50%;

    --accent: 240 4% 16%;
    --accent-foreground: 40 90% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 4% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
